@use "../../../shared/Styles/sharedStyles.scss" as sharedStyles;

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: #000; // Black background
  background-image: linear-gradient(to bottom right, #000, #010439);
  padding: 20px;
  padding-top: 3rem;

  h1 {
    font-size: 5rem; // Default size
    color: sharedStyles.$primary-color;
    opacity: 0.84;
    font-family: "Quattrocento Sans", serif;
    font-weight: 700;
    width: 75%;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
  }

  p {
    font-size: 1.5rem;
    color: sharedStyles.$primary-color;
    opacity: 0.7;
    font-family: "Quattrocento Sans", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
  }

  // Responsive styles
  @media (max-width: 1440px) {
    h1 {
      font-size: 6rem;
      width: 80%;
    }

    p {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 5rem;
      width: 85%;
    }

    p {
      font-size: 1.6rem;
    }
  }

  @media (max-width: 932px) {
    h1 {
      font-size: 4.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 4rem;
      width: 90%;
    }

    p {
      font-size: 1.4rem;
      margin-top: 30px;
    }
  }

  @media (max-width: 425px) {
    h1 {
      font-size: 3rem;
      width: 95%;
    }

    p {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
}


