<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<div class="footer">
  <!-- <div class="footer__img"></div> -->
  <ul class="links">
    <li>
      <div class="home"></div>
      Home
    </li>
    <li>
      <div class="aboutUs"></div>
      About Us
    </li>
    <li>
      <div class="work"></div>
      Work
    </li>
    <li>
      <div class="contact"></div>
      Contact
    </li>
  </ul>

  <div class="socialMedia">
    <div class="intergram"></div>
    <div class="Twitter"></div>
    <div class="linkdin"></div>
    <div class="facebook"></div>
    <div class="youtube"></div>
  </div>
</div>
