<div class="orders-container">
  <div class="heading">
    <h1>Your Orders</h1>
  </div>
  <div class="tableContainer">
    <div class="table">
      <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Items</th>
          <th>Ordered Date</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of schoolOrders">
          <td>{{ order.orderId }}</td>
          <td>
            <ul>
              <li *ngFor="let item of order.orderItems">{{ item }}</li>
            </ul>
          </td>
          <td>{{ order.date }}</td>
          <td>{{ order.paymentStatus }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>{{ order.amount | currency : "LKR" : "symbol" }}</td>
          <td class="action-buttons">
            <button class="delete-btn" (click)="deleteOrder(order)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
