@use "../../../shared/Styles/sharedStyles.scss" as sharedStyles;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #01234a;
  // background: linear-gradient(
  //   149deg,
  //   rgb(0, 23, 49) 0%,
  //   rgb(36, 1, 71) 53%,
  //   rgb(0, 20, 43) 100%
  // );
  padding-top: 1rem;
  padding-bottom: 1rem;

  .topic {
    display: flex;
    flex-direction: row;

    svg {
      width: 28px;
      height: 28px;
      color: #ffffff;
    }

    h2 {
      font-family: sharedStyles.$font-family;
      font-size: 1.5rem;
      margin-left: 0.3rem;
      color: #ffffff;
    }
  }

  p {
    font-family: sharedStyles.$font-family;
    font-size: 1.1rem;
    margin-right: 3rem;
    color: #ffffff;
  }
}

.orders-container {
  display: flex;
  flex-direction: column;

  .heading {
    background: #080808;
    background: linear-gradient(
      149deg,
      rgba(8, 8, 8, 1) 0%,
      rgb(1, 6, 63) 51%,
      rgb(0, 0, 0) 100%
    );
    color: white;
    font-family: sharedStyles.$font-family;

    h1 {
      padding-left: 6rem;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 700;
      animation: popEffect 0.6s ease-out forwards;
    }
  }

  .tableContainer {
    justify-content: center;
    align-items: center;
    background: url("../../../../assets/images/RegistrationBackground.png");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 78.2vh;

    .table {
      background-color: rgb(254, 246, 255);
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4rem;
      padding: 2rem;
      border-radius: 15px;
      border: 1px solid rgb(0, 8, 161, 0.3);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
      animation: floatIn 1s ease-out forwards;
      position: relative;

      table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
          width: 0.5;
          text-align: center;
          font-size: 0.9rem;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        th {
          background-color: rgb(10, 2, 50);
          color: white;
          font-family: sharedStyles.$font-family;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
          padding: 10px;
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        }

        .action-buttons {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .update-btn,
          .delete-btn {
            font-size: 0.9rem;
            padding: 5px;
            width: 5rem;
          }

          .update-btn {
            background-color: rgb(133, 123, 185);
            border: 1.5px solid rgb(10, 2, 50, 0.315);
            border-radius: 5px;
          }

          .delete-btn {
            background-color: rgb(238, 160, 160);
            border: 1.5px solid rgba(178, 0, 0, 0.438);
            border-radius: 5px;
          }
        }
      }

      .print-btn {
        position: absolute;
        bottom: -3.5rem;
        right: 2rem;
        width: 7rem;
        font-size: 1rem;
        padding: 0.5rem;
        background-color: rgb(0, 8, 161);
        color: white;
        font-family: sharedStyles.$font-family;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.9;
          transform: scale(1.05);
        }
      }
    }
  }
}
