<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
</head>

<div class="header">
  <div class="topic">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
    <h2 (click)="goToDashboard()">Dashboard</h2>
  </div>

  <p>Welcome, {{ username }}</p>
  <p (click)="logout()">Log Out</p>
</div>

<div class="orders-container">
  <div class="heading">
    <h1>Your Orders</h1>
  </div>
  <div class="tableContainer">
    <div class="table">
      <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Items</th>
          <th>Ordered Date</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of schoolOrders">
          <td>{{ order.orderId }}</td>
          <td>
            <ul>
              <li *ngFor="let item of order.orderItems">{{ item }}</li>
            </ul>
          </td>
          <td>{{ order.date }}</td>
          <td>{{ order.paymentStatus }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>{{ order.amount | currency : "LKR" : "symbol" }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
