<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
</head>

<div>
    <app-page-starting-container [title]="title" [description]="description">
    </app-page-starting-container>
</div>

<div class="myWork">
  <div class="workContainer">
    <div class="card" (click)="manageSchools()">
      <div class="img1"></div>
      <p>Manage Schools</p>
    </div>
    <div class="card">
      <div class="img2"></div>
      <p>Process Orders</p>
    </div>
    <div class="card">
      <div class="img3"></div>
      <p>Manage Orders</p>
    </div>
    <div class="card" (click)="scrumboard()">
      <div class="img4"></div>
      <p>
        Manage Question <br />
        Paper Preparation
      </p>
    </div>
    <div class="card">
      <div class="img5"></div>
      <p>Generate Documents</p>
    </div>
  </div>
</div>
