@use "../../../shared/Styles/sharedStyles.scss" as sharedStyles;

.heading-container {
  background: linear-gradient(to left top, #000751, #000);
  background-size: cover;
  height: 9rem;
  display: flex;
  flex-direction: column;

  h2 {
    color: sharedStyles.$primary-color;
    font-size: 3rem;
    font-family: sharedStyles.$font-family;
    margin-top: 4.5rem;
    text-align: left;
    margin-left: 100px;
  }
}

.publications-container {
  background-color: rgb(15, 16, 63);
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;

  h2 {
    color: sharedStyles.$primary-color;
    font-size: 2rem;
    padding-bottom: 20px;
    padding-top: 70px;
    margin-left: 100px;
    font-family: sharedStyles.$font-family;
    font-weight: 400;
  }

  .publications-list {
    display: flex;
    justify-content: center;
    height: fit-content;
    gap: 40px;
    margin-top: 20px;
    padding: 0%;
    margin-bottom: 50px;
  }
}

.order-container {
  display: flex;
  height: fit-content;
  background-color: #000; // Black background
  background-image: url("../../../../assets/images/placeOrderBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 9rem;

  .order-form {
    background-color: rgba(5, 5, 67, 0.6);
    border-radius: 15px;
    padding: 30px;
    width: 45%;
    display: flex;
    flex-direction: column;

    .nameEmail {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .form-group {
        width: 100%;
        height: 4.5rem;

        label {
          color: sharedStyles.$primary-color;
          font-family: sharedStyles.$font-family;
          margin-right: 3rem;
          font-size: 1rem;
          font-weight: 700;
        }

        #name,
        #email {
          width: 95%;
          height: 2rem;
          padding: 7px;
          border-radius: 10px;
          border: none;
          color: #fff;
          font-family: sharedStyles.$font-family;
          font-size: 1rem;

          &::placeholder {
            font-size: 1rem;
          }
        }
      }
    }

    .form-group {
      width: 100%;
      height: 4rem;

      label {
        color: sharedStyles.$primary-color;
        font-family: sharedStyles.$font-family;
        margin-right: 3rem;
        font-size: 1rem;
        font-weight: 700;
      }

      #address {
        width: 97.5%;
        padding: 7px;
        height: 2rem;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;

        &::placeholder {
          font-size: 1rem;
        }
      }

      #quantity {
        width: 100%;
        height: 2rem;
        padding: 7px;
        border-radius: 10px;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;

        &::placeholder {
          font-size: 1rem;
        }
      }
    }

    h4 {
      color: sharedStyles.$primary-color;
      font-size: 1.2rem;
      font-family: sharedStyles.$font-family;
      margin-top: 20px;
      font-weight: 700;
    }

    .publication-preference {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      gap: 25px;

      #publications {
        width: 100%;
        height: 2.8rem;
        padding: 7px;
        border-radius: 10px;
        border: none;
        background-color: hsl(0, 0%, 100%, 30%);
        color: sharedStyles.$placeholder-color;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;

        option {
          color: #000;
        }
      }

      .button {
        width: 9rem;
        height: 2.85rem;
        font-size: 1rem;
        font-family: "Quattrocento Sans", serif;
        font-weight: 700;
        font-style: normal;
        background-color: rgb(220, 218, 246);
        color: #000751;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out,
          transform 0.2s ease-in-out;

        &:hover {
          opacity: 0.9;
          transform: scale(1.05);
          background-color: #000751;
          color: white;
          font-weight: 700;
        }
      }
    }

    .order-items {
      table {
        background-color: var(--mat-table-background-color);

        th {
          color: var(--mat-table-header-color);
        }

        td {
          color: var(--mat-table-row-color);
        }
      }
    }
  }

  .order-payment {
    h4 {
      color: sharedStyles.$primary-color;
      font-size: 1.2rem;
      font-family: sharedStyles.$font-family;
      margin-top: 20px;
      font-weight: 700;
    }

    .form-group-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 10px;

      #label {
        color: sharedStyles.$primary-color;
        font-family: sharedStyles.$font-family;
        margin-right: 3rem;
        font-size: 1rem;
      }

      #sublabel {
        color: sharedStyles.$primary-color;
        margin-right: 3rem;
        font-size: 0.9rem;
        margin-top: 20px;
        margin-left: 1rem;
      }

      #paymentMethods {
        width: 40%;
        height: 2.8rem;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: hsl(0, 0%, 100%, 30%);
        color: sharedStyles.$placeholder-color;
        font-size: 1rem;

        &::placeholder {
          font-size: 1rem;
        }

        option {
          color: #000;
        }
      }

      .button {
        width: 9rem;
        height: 2.85rem;
        font-size: 1rem;
        font-family: "Quattrocento Sans", serif;
        font-weight: 700;
        font-style: normal;
        background-color: rgb(220, 218, 246);
        color: #000751;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out,
          transform 0.2s ease-in-out;

        &:hover {
          opacity: 0.9;
          transform: scale(1.05);
          background-color: #000751;
          color: white;
          font-weight: 700;
        }
      }
    }

    .form-group {
      width: 100%;
      margin: 10px 0;
      input {
        width: 97.5%;
        height: 3rem;
        font-size: 1rem;
        font-family: sharedStyles.$font-family;
        padding: 10px;
        margin: 10px 0;
        border-radius: 10px;
        border: none;
        background-color: hsl(0, 0%, 100%, 30%);
        color: sharedStyles.$primary-color;

        &::placeholder {
          font-size: 1rem;
        }
      }
    }
  }

  .place-order {
    button {
      width: 9rem;
        height: 2.85rem;
        font-size: 1rem;
        font-family: "Quattrocento Sans", serif;
        font-weight: 700;
        font-style: normal;
        background-color: rgb(220, 218, 246);
        color: #000751;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out,
          transform 0.2s ease-in-out;
          margin-top: 2.5rem;

        &:hover {
          opacity: 0.9;
          transform: scale(1.05);
          background-color: #000751;
          color: white;
          font-weight: 700;
        }}
  }

  .order-summary {
    margin-left: 2rem;
    width: 40%;
    h1 {
      font-family: sharedStyles.$font-family;
      font-weight: 700;
      color: white;
      font-size: 2rem;
    }

    .field {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;

      .label {
        font-weight: 700;
        font-size: 1rem;
        color: white;
        font-family: sharedStyles.$font-family;
      }

      .inputs {
        font-size: 1rem;
        color: white;
        font-family: sharedStyles.$font-family;
        font-weight: 400;
        margin-left: 1rem;
      }

      .totalLabel {
        font-weight: 700;
        font-size: 1.2rem;
        color: white;
        font-family: sharedStyles.$font-family;
      }

      .totalAmount {
        font-weight: 700;
        font-size: 1.2rem;
        color: white;
        font-family: sharedStyles.$font-family;
        margin-left: 2rem;
      }
    }

    h4 {
      font-size: 1.5rem;
      color: white;
      font-family: sharedStyles.$font-family;
      margin-top: 2rem;
      font-weight: 700;
    }

    .orderedItems {
      table {
        background-color: var(--mat-table-background-color);

        th {
          color: var(--mat-table-header-color);
        }

        td {
          color: var(--mat-table-row-color);
        }
      }
    }
  }
}

/* RESPONSIVENESS */
@media (max-width: 1440px) {
  // Desktops
  .heading-container {
    margin-bottom: 0%;
    padding: 0;
    height: 28vh;
    h2 {
      font-size: 4rem;
      margin-left: 80px;
    }
  }

  .publications-container {
    h2 {
      font-size: 3rem;
      margin-left: 80px;
    }

    .publications-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .order-container {
    height: fit-content;
    padding: 1.5rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    gap: 40px;

    .order-form {
      width: 94%;
    }
  }

  .order-payment {
    .form-group-2 {
      #label {
        margin-top: 0%;
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  // Tablets
  .heading-container {
    margin-bottom: 0%;
    padding: 0;
    height: 28vh;
    h2 {
      font-size: 4rem;
      margin-left: 80px;
    }
  }

  .publications-container {
    h2 {
      font-size: 3rem;
      margin-left: 80px;
    }

    .publications-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .order-container {
    height: fit-content;
    padding: 1.5rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0%;

    .order-form {
      width: 92%;
    }
  }

  .order-payment {
    .form-group-2 {
      #label {
        margin-top: 0%;
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  // Mobile devices
  .heading-container {
    h2 {
      font-size: 3rem;
      margin-top: 130px;
      margin-left: 60px;
    }
  }

  .publications-container {
    h2 {
      font-size: 2.5rem;
      margin-left: 60px;
    }

    .publications-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .order-container {
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 0%;

    .order-form {
      width: 93%;
      padding: 20px;

      .publication-preference {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        #publications {
          width: 100%;
        }

        #number {
          width: 100%;
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 932px) {
  // Mobile devices
  .heading-container {
    h2 {
      font-size: 3rem;
      margin-top: 130px;
      margin-left: 60px;
    }
  }

  .publications-container {
    h2 {
      font-size: 2.5rem;
      margin-left: 60px;
    }

    .publications-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .order-container {
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 0%;

    .order-form {
      max-width: 90%;
      padding: 20px;

      .publication-preference {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        #publications {
          width: 100%;
        }

        #number {
          width: 100%;
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  // Small mobile devices
  .page-container {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .publications-container {
    h2 {
      font-size: 1.8rem;
      margin-left: 40px;
    }

    .publications-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .order-container {
    height: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 0%;

    .order-form {
      width: 94%;
      padding: 20px;

      .publication-preference {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        #publications {
          width: 100%;
        }

        #number {
          width: 100%;
        }

        .button {
          width: 100%;
        }
      }
    }

    .order-summary {
      padding-right: 0%;
    }
  }
}
