@use "../../../shared/Styles/sharedStyles" as sharedStyles;

$background-image: url("../../../../assets/images/RegistrationBackground.png");

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;

  body {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 100%;
  }
}

body {
  background: $background-image center/cover no-repeat fixed;
  @include flex-center;
  height: 100vh;
}

.container {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  max-width: 474px;
}

.registration-topic {
  text-align: center;
  font-size: 2.2rem;
  color: sharedStyles.$primary-color;
  margin-bottom: 15px;
  margin-top: 50px;
  font-weight: bold;
  font-family: sharedStyles.$font-family;
}

// registration Form Container
.registration-container {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  padding: 20px;
  background: sharedStyles.$glass-bg;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .form-group {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;

    input {
      width: 20rem;
      height: 2rem;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      font-size: 1rem;
      color: black;
      font-family: sharedStyles.$font-family;
      color: sharedStyles.$primary-color;
      transition: all 0.3s ease-in-out;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 42, 0.5);
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.788);
        font-size: 1rem;
        font-family: sharedStyles.$font-family;
      }
    }
  }
}

.signature-input {
  width: 100%;
  max-width: 424px;
  color: sharedStyles.$primary-color;
  font-family: sharedStyles.$font-family;
  text-align: left;
  @include flex-center;
  flex-direction: row;

  label {
    font-size: 1rem;
    margin-right: 5px;
    width: max-content;
    color: sharedStyles.$primary-color;
    font-family: sharedStyles.$font-family;
    text-align: left;
  }

  input {
    font-size: 0.5ewmm;
    padding-left: 15px;
    margin-right: 5px;
    width: 200px;
  }
}

.button {
  justify-content: center;
  .login-btn {
    height: 2.5rem;
    width: 50%;
    border: none;
    border-radius: 10px;
    transition: background-image 2s ease-in-out;
    background-color: white;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: sharedStyles.$font-family;
    color: rgb(0, 0, 42);
    margin-top: 25px;
  }

  .login-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 42);
    color: white;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.bottom-container {
  @include flex-center;
  flex-direction: row;
  color: sharedStyles.$primary-color;
  font-family: sharedStyles.$font-family;
  text-align: center;
  justify-content: center;
  max-width: 1000px;
  padding-top: 20px;

  p {
    padding-right: 20px;
    font-size: 1rem;
  }

  a {
    color: sharedStyles.$primary-color;
    text-decoration: none;
    font-weight: 100;
    font-family: sharedStyles.$font-family;
    cursor: pointer;
  }

  a:hover {
    font-weight: bold;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}
