<body>
    <div class="container">
        <div class="registration-header">
            <p class="registration-topic">Join With Us</p>
        </div>
        <div class="registration-container">
            <form class="registration-form">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="schoolName"
                  placeholder="School name"
                  required="School name is required"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  formControlName="email"
                  placeholder="Email address"
                />
              </div>
              <div class="form-group">
                <input
                  type="username"
                  formControlName="username"
                  placeholder="Username"
                  required="Username is required"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  formControlName="password"
                  placeholder="Password"
                  required="Password is required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  formControlName="address"
                  placeholder="School address"
                  required="School address is required"
                />
              </div>
              <div class="form-group">
                <input
                  type="tel"
                  formControlName="contactNo"
                  placeholder="Contact number"
                  required="Contact number is required"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  formControlName="pricipleName"
                  placeholder="Principle's Name"
                  required="Principle name is required"
                />
              </div>
                <div class="signature-input">
                    <label for="signatureInput">Upload Principle's Signature</label>
                    <input
                        type="file"
                        formControlName="principleSignature"
                        placeholder="Principle's Signature"
                        required="Principle signature is required"
                    />
                </div>

                <button class="login-btn">Sign Up</button>

                <div class="bottom-container">
                    <p>Already have an account?</p>
                    <a (click)="goToLogin()">Sign In</a>
                  </div>
            </form>
        </div>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
</body>