<div class="heading">
  <h1>Task Manager</h1>
</div>

<div class="scrumboard">
  <div class="add-task">
    <input type="text" [(ngModel)]="newTask" placeholder="Enter new task">
    <button (click)="addTask()">Add Task</button>
  </div>

  <div class="columns">
    <div class="column" *ngFor="let column of columns; let i = index">
      <h3>{{ column.name }}</h3>
      <div cdkDropList 
           [cdkDropListData]="column.tasks"
           class="task-list"
           (cdkDropListDropped)="drop($event)"
           [cdkDropListConnectedTo]="column.connectedTo"
           [id]="column.id">
        <div class="task" *ngFor="let task of column.tasks" (click)="updateTask()" cdkDrag>{{ task }}</div>
      </div>
    </div>
  </div>
</div>
