<div class="howToOrder">
    <h2>How To Place Order</h2>
    <div class="wrapper">
      <div class="cards">
        <div class="header">
          <div>
            <p class="title">Browser</p>
            <p class="subTitle">Our Publications</p>
          </div>
          <div class="image1"></div>
        </div>
        <div class="content">
          <p>
            ✔ Go through our catalog and select the papers that suit your school’s needs.
          </p>
        </div>
      </div>
  
      <div class="cards">
        <div class="header">
          <div>
            <p class="title">Order</p>
            <p class="subTitle">With Flexibility</p>
          </div>
          <div class="image2"></div>
        </div>
        <div class="content">
          <p>✔ Fill the forms easily and Pay with most convenient method.</p>
        </div>
      </div>
  
      <div class="cards">
        <div class="header">
          <div>
            <p class="title">Receive</p>
            <p class="subTitle">The Optimum</p>
          </div>
          <div class="image3"></div>
        </div>
        <div class="content">
          <p>
            ✔ High-quality, ready-to-use model papers that will support your
            students' academic journeys.
          </p>
        </div>
      </div>
    </div>
  </div>