@use "../../../shared/Styles/sharedStyles.scss" as sharedStyles;

.howToOrder {
    background-image: url("../../../../assets/images/howToOrder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 95.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2 {
      color: sharedStyles.$primary-color;
      font-size: 3rem;
      margin-bottom: 90px;
      margin-top: 70px;
      font-family: sharedStyles.$font-family;
      font-weight: 700;
    }
  
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      max-width: 90%;
      margin: 50px;
  
      .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: sharedStyles.$font-family;
        background-color: rgb(23, 23, 23, 0.5);
        border: sharedStyles.$secondary-color 2px solid;
        border-radius: 30px;
        padding: 20px;
        max-width: 540px;
        height: 440px;
  
        .header {
          display: flex;
          flex-direction: row;
          height: auto;
  
          .title {
            color: sharedStyles.$primary-color;
            font-size: 1.8rem;
            font-weight: 700;
            border-radius: 5px;
            margin-top: 120px;
            margin-bottom: 0%;
          }
  
          .subTitle {
            color: sharedStyles.$primary-color;
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 0%;
          }
  
          .image1 {
            width: 200px;
            height: 200px;
            margin-left: auto;
            background-image: url(../../../../assets/images/browse.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
  
          .image2 {
            width: 290px;
            height: 200px;
            margin-left: auto;
            background-image: url(../../../../assets/images/pay.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
  
          .image3 {
            width: 290px;
            height: 200px;
            margin-left: auto;
            background-image: url(../../../../assets/images/recieve.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
  
        .content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 20px;
          margin-left: 80px;
  
          p {
            color: sharedStyles.$primary-color;
            font-family: sharedStyles.$font-family;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 200%;
            margin-right: 80px;
          }
        }
      }
  
      .cards:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    }
  }