<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
  
</head>
<div class="page-container">
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>

  <div class="login-registration-buttons">
    <button class="login-btn" (click)="navigateTo('/auth/login')">Login</button>
    <button class="register-btn" (click)="navigateTo('/auth/register')">
      Register
    </button>
  </div>
</div>

<div class="description">
  <div class="floating-image">
    <h2>Why choose us?</h2>
    <p>
      We provide expertly crafted model question papers tailored for schools,
      covering a wide range of subjects and grade levels. Our model papers are
      ideal for term tests, scholarship exams, and other assessments, helping
      students prepare with confidence.
    </p>
    <br /><br /><br />

    <p>
      Each paper is designed by educational professionals to align with
      curriculum standards, ensuring that schools receive high-quality, relevant
      materials. Our easy ordering process allows schools to select and purchase
      papers specific to their needs, whether for regular term assessments or
      special examination preparations.
    </p>
  </div>
</div>

<app-how-to-order></app-how-to-order>

<div class="whyUs">
  <h2>Why us?</h2>
  <div class="whyUs-container">
    <div class="column">
      <h3>Expertly Crafted Papers</h3>
      <p>
        Papers are authored by experienced professional master teachers,
        ensuring that each paper meets the academic standards required by
        schools and aligns with educational board guidelines.
      </p>
      <br /><br /><br />

      <h3>Flexible Payment Options</h3>
      <p>
        We aim to make the ordering process as easy and convenient as possible
        with multiple payment methods: Cash on Delivery, Online Payments
      </p>
    </div>
    <div class="column">
      <h3>Aiding Student Success</h3>
      <p>
        We are committed to supporting educators by providing reliable and
        accessible resources that inspire confidence and foster better learning
        outcomes for students.
      </p>
      <br /><br /><br />

      <h3>Comprehensive Coverage</h3>
      <p>
        We offer question papers across various subjects and grade levels. Our
        resources are designed to help students thoroughly understand concepts
        and prepare effectively for exams.
      </p>
    </div>
  </div>
</div>


