@use "../../../shared/Styles/sharedStyles.scss" as sharedStyles;

.order-entry {
  font-family: Arial, sans-serif;

  .heading {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 3, 58));
    color: white;
    font-family: sharedStyles.$font-family;

    h1 {
      padding-left: 6rem;
      padding-top: 5rem;
      padding-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 700;
      animation: popEffect 0.6s ease-out forwards;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    // background-color: #dcdcdca3;
    background: linear-gradient(to right, #01063ee1, #7a9ece);

    .form-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;

      label {
        min-width: 120px;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;
        color: #dfdfdf;
        font-weight: 700;
      }

      input,
      select,
      textarea {
        flex: 1;
        padding: 5px;
      }
    }

    .section1 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;

      .input-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        label {
          min-width: 120px;
          font-family: sharedStyles.$font-family;
          font-size: 1rem;
          color: #dfdfdf;
          font-weight: 700;
        }

        input,
        select,
        textarea {
          flex: 1;
          padding: 5px;
        }
      }
    }

    .section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 2rem;
      margin-bottom: 1rem;

      label {
        min-width: 120px;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;
        color: #dfdfdf;
        font-weight: 700;
        padding: 0%;
      }

      input,
      select,
      textarea {
        flex: 1;
        padding: 5px;
      }

      .checkbox {
        width: 1rem;
        height: 1rem;
      }

      .student-numbers input {
        width: 60px;
      }
    }

    .section-papers {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 0.7rem;

      label {
        min-width: fit-content;
        padding-right: 1rem;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;
        color: #dfdfdf;
        font-weight: 700;
      }

      .paper-range {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        input {
          width: 4rem;
          height: 1.2rem;
          margin-right: 1rem;
        }
      }

      .checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .checkbox {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .section-counter {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-bottom: 1rem;

      label {
        min-width: fit-content;
        padding-right: 1rem;
        font-family: sharedStyles.$font-family;
        font-size: 1rem;
        color: #dfdfdf;
        font-weight: 700;
      }

      .counter-rows {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .counter-row {
          display: flex;
          gap: 1rem;
        }

        input {
          width: 3rem;
          height: 1.3rem;
        }

        .to {
          margin-right: 1.2rem;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      background-color: aliceblue;

      button {
        background-color: #042286;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1rem;
        font-family: sharedStyles.$font-family;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0b0149;
          color: white;
        }
      }
    }
  }
}
