<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
</head>

<app-page-starting-container
  [title]="title"
  [description]="description"
>
</app-page-starting-container>

<app-how-to-order></app-how-to-order>

<div class="orderButtons-container">
  <h2>Join Us in Shaping Academic Excellence....</h2>

  <p>At St. Joseph's Institute, we’re committed to supporting schools with reliable, 
    expertly crafted resources that enhance learning outcomes. Discover the benefits 
    of our model papers and empower your students with the best preparation tools available.</p>

    <div class="container">
      <div class="button-container ">
        <button class="button" (click)="goToPlaceOrder()">Place Order</button>
        <button class="button" (click)="goToMyOrders()">My Orders</button>
      </div>
  
      <div class="childrenImg"></div>
    </div>
</div>