<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
</head>

<div>
  <div class="heading">
    <h1>Update Profile</h1>
  </div>

  <div class="updateForm">
    <div class="update-form-container">
      <div class="profilePic">
        <div class="picture"></div>
        <button type="button" class="update-btn" (click)="enableEditing()">Edit Profile</button>
      </div>

      <form [formGroup]="updateForm" (ngSubmit)="updateProfile()">
        <div class="form-group">
          <input type="text" formControlName="name" placeholder="School name" />
        </div>
        <div class="form-group">
          <input type="email" formControlName="email" placeholder="Email address" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="address" placeholder="School address" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="city" placeholder="School city" />
        </div>
        <div class="form-group">
          <input type="tel" formControlName="contact_no" placeholder="Contact number" />
        </div>
        <div class="form-group">
          <input type="text" formControlName="principle_name" placeholder="Principal's Name" />
        </div>
        <div class="signature-input">
          <label for="signatureInput">Upload Principal's Signature</label>
          <input type="file" id="signatureInput" (change)="onFileChange($event)" />
        </div>

        <button type="submit" class="update-btn" [disabled]="!isEditing">Update Profile</button>
      </form>
    </div>
  </div>
</div>