<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>St. Joseph's Institute</title>
</head>

<div class="header">
  <div class="topic">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
    <h2 (click)="goToDashboard()">Dashboard</h2>
  </div>
  <p>Welcome, {{ username }}</p>
  <p (click)="logout()">Log Out</p>
</div>

<div>
  <div class="heading">
    <h1>Manage Schools</h1>
  </div>

  <div class="tableContainer">
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search by name, email, username"
      />
      <button (click)="searchSchool()">Search</button>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>School ID</th>
            <th>School Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Username</th>
            <th>Principal's Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let school of filteredSchools">
            <td>{{ school.schoolId }}</td>
            <td>{{ school.name }}</td>
            <td>{{ school.address }}</td>
            <td>{{ school.city }}</td>
            <td>{{ school.email }}</td>
            <td>{{ school.contactNo }}</td>
            <td>{{ school.username }}</td>
            <td>{{ school.principleName }}</td>
            <td class="action-buttons">
              <button class="update-btn" (click)="updateSchool(school)">
                Update
              </button>
              <!-- <button class="delete-btn" (click)="deleteSchool(school)">Delete</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <button class="print-btn" (click)="goToHome()">Home</button>
    </div>
  </div>
</div>
